<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <script src="js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="global-top-navs" style="background-color: #0b0b0b;height: 50px;text-align: center;padding-top: 15px;">
    <span style="font-size: 20px;color: #cccccc;">找回密码</span>
</div>
<div style="background-color: #e0e0e0; padding-top: 20px;">
    <form id="password_email_form" method="post">
        <span style="font-weight: bold">email：&nbsp</span><input name="email" type="text" style="width: 80%;height: 40px;"/><br><br>
    </form>
</div>
<div id="re_password_email_btn" style="background-color: #006dcc; height: 40px;text-align: center;padding-top: 10px;width: 100%;">
    <span style="font-size: 20px;color: #cccccc;font-weight: bold">提交</span>
</div>
</body>
<script>
    $(function () {
        $("#re_password_email_btn").click(function () {
            $.ajax({
                    url:"re_forget_password_email",
                    contentType:"application/x-www-form-urlencoded",
                    dataType:"json",
                    type:"post",
                    data:$('#password_email_form').serialize(),
                    success:function (data) {
                        if (data.state=="100"){
                            alert("该邮箱未被注册");
                        }else if (data.state=="250"){
                            alert("不用允许空值");
                        }else if (data.state=="400"){
                            window.location.href="forget_password";
                        }
                    },
                    error:function () {
                        alert("error");
                        alert($("#password_email_form").serialize());
                        // window.location.href('enroll/person_main');//localhost:8080/WEB-INF/pages/person_main.jsp
                    }
                }
            );
        });
    });
</script>
</html>