<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- pop-up -->
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
<!-- list-css -->
<link rel="stylesheet" href="css/list.css" type="text/css" media="all" />
<!-- //list-css -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="css/font-awesome.css" rel="stylesheet"> 
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
<!--/web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
<!--/main-header-->
  <!--/banner-section-->
	<div id="demo-1" class="banner-inner">
	 <div class="banner-inner-dott">
		<!--/header-w3l-->
		 <div class="header-w3-agileits" id="home">
			 <div class="inner-header-agile">
				 <nav class="navbar navbar-default">
					 <div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							 <span class="sr-only">Toggle navigation</span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
						 </button>
						 <h1><a  th:href="@{/}"><span>豆</span><span>扮</span>影视</a></h1>
					 </div>
					 <!-- navbar-header -->
					 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						 <ul class="nav navbar-nav">
							 <li><a th:href="@{/}">主页</a></li>
							 <li><a th:href="@{list}">全部影片</a></li>
						 </ul>

					 </div>
					 <div class="clearfix"> </div>
				 </nav>
				 <div class="w3ls_search">
					 <div class="cd-main-header">
						 <ul class="cd-header-buttons">
							 <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
						 </ul> <!-- cd-header-buttons -->
					 </div>
					 <div id="cd-search" class="cd-search">
						 <form th:action="@{Search}" method="post">
							 <input name="search" type="search" placeholder="搜索...">
						 </form>
					 </div>
				 </div>

			 </div>

		 </div>
		<!--//header-w3l-->
		</div>
    </div>
  <!--/banner-section-->
 <!--//main-header-->
	         <!--/banner-bottom-->
<div class="w3_agilits_banner_bootm">
	<div class="w3_agilits_inner_bottom">
		<div class="col-md-6 wthree_agile_login">
			<ul>
				<li><a href="#" class="login"  data-toggle="modal" data-target="#myModal4">登录</a></li>
				<li><a href="#" class="login reg"  data-toggle="modal" data-target="#myModal5">注册</a></li>

			</ul>
		</div>
		<div class="col-md-6 wthree_share_agile">

			<div class="single-agile-shar-buttons">
				<ul>
					<li>
						<div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
						<a th:text="${user}"th:href="@{personal_information}"></a>
					</li>
					<li>
						<div class="fb-share-button" data-href="" data-layout="button_count" data-size="small" data-mobile-iframe="true"></div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
			<!--//banner-bottom-->
		     <!-- Modal1 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >

	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>登录</h4>
				<div class="login-form">
					<form id="from_Login" action="#" method="post">
						<input type="email" name="email" placeholder="E-mail" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<div class="tp">
							<!--<input type="submit" value="LOGIN NOW">-->
							<button id="btn_1">提交</button>
						</div>
						<div class="forgot-grid">
							<div class="log-check">
								<label class="checkbox"><input type="checkbox" name="checkbox">Remember me</label>
							</div>
							<div class="forgot">
								<a th:href="@{forget_password_email}" target="_blank">忘记密码</a>
							</div>
							<div class="clearfix"></div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Modal1 -->
<!-- Modal1 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >

	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>注册</h4>
				<div class="login-form">
					<form id="from_re" action="" method="post">
						<input type="text" name="name" placeholder="Name" required="">
						<input id="email_send" type="email" name="email" placeholder="E-mail" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<input type="text" name="re_email" placeholder="验证码" /><input type="button" id="email_send_btn" value="获取验证码" /><br>
						<div class="tp">
							<input id="btn_2" type="button" value="注册">
							<!--<button id="btn_2">提交</button>-->
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
				<!-- //Modal1 -->
						<!-- breadcrumb -->
	<div class="w3_breadcrumb">
	<div class="breadcrumb-inner">	
			<ul>
				<li><a th:href="@{/}">Home</a><i>//</i></li>
				<li>List</li>
			</ul>
		</div>
	</div>
<!-- //breadcrumb -->
			<!--/content-inner-section-->
				<div class="w3_content_agilleinfo_inner">
						<div class="agile_featured_movies">
						<div class="inner-agile-w3l-part-head">
					            <h3 class="w3l-inner-h-title">Movie List</h3>
								<p class="w3ls_head_para">Add short Description</p>
							</div>
				                   <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#_home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">全部</a></li>
							<li role="presentation"><a href="#a" role="tab" id="a-tab" data-toggle="tab" aria-controls="a">动作</a></li>
							<li role="presentation"><a href="#b" role="tab" id="b-tab" data-toggle="tab" aria-controls="b">科幻</a></li>
							<li role="presentation"><a href="#c" role="tab" id="c-tab" data-toggle="tab" aria-controls="c">喜剧</a></li>
							<li role="presentation"><a href="#d" role="tab" id="d-tab" data-toggle="tab" aria-controls="d">悬疑</a></li>
							<li role="presentation"><a href="#e" role="tab" id="e-tab" data-toggle="tab" aria-controls="e">恐怖</a></li>
							<li role="presentation"><a href="#f" role="tab" id="f-tab" data-toggle="tab" aria-controls="f">灾难</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="_home" aria-labelledby="home-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>影片数目: <span th:text="${MovieAll.size()}">25</span></h4>
									</div>
									<table id="table-breakpoint">
										<thead>
										  <tr>
											<th>No.</th>
											<th>Movie Name</th>
											<th>年份</th>
											<th>语种</th>
											<th>类型</th>
											<th>评分</th>
										  </tr>
										</thead>
										<tbody>
											<div th:each="m,sta:${MovieAll}">
												<tr>
													<td th:text="${sta.index+1}">1</td>
													<td class="w3-list-img"><a th:href="@{single(uid=${m.getNum()})}"><img th:src="${m.getImg()}" alt="" /> <span th:text="${m.getName()}">Swiss Army Man</span></a></td>
													<td th:text="${m.getYear()}">2016</td>
													<td class="w3-list-info"><a href="genre.html" th:text="${m.getLanguage()}">United Kingdom</a></td>
													<td class="w3-list-info"><a href="comedy.html" th:text="${m.getType()}"> Drama</a></td>
													<td th:text="${m.getScore()}">7.0</td>
												</tr>
											</div>
										</tbody>
									</table>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="a" aria-labelledby="a-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>影片数目: <span th:text="${MovieType.get('动作').size()}">25</span></h4>
									</div>
									<table id="table-breakpoint1">
										<thead>
										<tr>
											<th>No.</th>
											<th>Movie Name</th>
											<th>年份</th>
											<th>语种</th>
											<th>类型</th>
											<th>评分</th>
										</tr>
										</thead>
										<tbody>
										<div th:each="m,sta:${MovieType.get('动作')}">
											<tr>
												<td th:text="${sta.index+1}">1</td>
												<td class="w3-list-img"><a th:href="@{single(uid=${m.getNum()})}"><img th:src="${m.getImg()}" alt="" /> <span th:text="${m.getName()}">Swiss Army Man</span></a></td>
												<td th:text="${m.getYear()}">2016</td>
												<td class="w3-list-info"><a href="genre.html" th:text="${m.getLanguage()}">United Kingdom</a></td>
												<td class="w3-list-info"><a href="comedy.html" th:text="${m.getType()}"> Drama</a></td>
												<td th:text="${m.getScore()}">7.0</td>
											</tr>
										</div>
										</tbody>
									</table>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="b" aria-labelledby="b-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>影片数目: <span th:text="${MovieType.get('科幻').size()}">25</span></h4>
									</div>
									<table id="table-breakpoint2">
										<thead>
										<tr>
											<th>No.</th>
											<th>Movie Name</th>
											<th>年份</th>
											<th>语种</th>
											<th>类型</th>
											<th>评分</th>
										</tr>
										</thead>
										<tbody>
										<div th:each="m,sta:${MovieType.get('科幻')}">
											<tr>
												<td th:text="${sta.index+1}">1</td>
												<td class="w3-list-img"><a th:href="@{single(uid=${m.getNum()})}"><img th:src="${m.getImg()}" alt="" /> <span th:text="${m.getName()}">Swiss Army Man</span></a></td>
												<td th:text="${m.getYear()}">2016</td>
												<td class="w3-list-info"><a href="genre.html" th:text="${m.getLanguage()}">United Kingdom</a></td>
												<td class="w3-list-info"><a href="comedy.html" th:text="${m.getType()}"> Drama</a></td>
												<td th:text="${m.getScore()}">7.0</td>
											</tr>
										</div>
										</tbody>
									</table>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="c" aria-labelledby="c-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>影片数目: <span th:text="${MovieType.get('喜剧').size()}">25</span></h4>
									</div>
									<table id="table-breakpoint3">
										<thead>
										<tr>
											<th>No.</th>
											<th>Movie Name</th>
											<th>年份</th>
											<th>语种</th>
											<th>类型</th>
											<th>评分</th>
										</tr>
										</thead>
										<tbody>
										<div th:each="m,sta:${MovieType.get('喜剧')}">
											<tr>
												<td th:text="${sta.index+1}">1</td>
												<td class="w3-list-img"><a th:href="@{single(uid=${m.getNum()})}"><img th:src="${m.getImg()}" alt="" /> <span th:text="${m.getName()}">Swiss Army Man</span></a></td>
												<td th:text="${m.getYear()}">2016</td>
												<td class="w3-list-info"><a href="genre.html" th:text="${m.getLanguage()}">United Kingdom</a></td>
												<td class="w3-list-info"><a href="comedy.html" th:text="${m.getType()}"> Drama</a></td>
												<td th:text="${m.getScore()}">7.0</td>
											</tr>
										</div>
										</tbody>
									</table>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="d" aria-labelledby="d-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>影片数目: <span th:text="${MovieType.get('悬疑').size()}">25</span></h4>
									</div>
									<table id="table-breakpoint4">
										<thead>
										<tr>
											<th>No.</th>
											<th>Movie Name</th>
											<th>年份</th>
											<th>语种</th>
											<th>类型</th>
											<th>评分</th>
										</tr>
										</thead>
										<tbody>
										<div th:each="m,sta:${MovieType.get('悬疑')}">
											<tr>
												<td th:text="${sta.index+1}">1</td>
												<td class="w3-list-img"><a th:href="@{single(uid=${m.getNum()})}"><img th:src="${m.getImg()}" alt="" /> <span th:text="${m.getName()}">Swiss Army Man</span></a></td>
												<td th:text="${m.getYear()}">2016</td>
												<td class="w3-list-info"><a href="genre.html" th:text="${m.getLanguage()}">United Kingdom</a></td>
												<td class="w3-list-info"><a href="comedy.html" th:text="${m.getType()}"> Drama</a></td>
												<td th:text="${m.getScore()}">7.0</td>
											</tr>
										</div>
										</tbody>
									</table>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="e" aria-labelledby="e-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>影片数目: <span th:text="${MovieType.get('恐怖').size()}">25</span></h4>
									</div>
									<table id="table-breakpoint5">
										<thead>
										<tr>
											<th>No.</th>
											<th>Movie Name</th>
											<th>年份</th>
											<th>语种</th>
											<th>类型</th>
											<th>评分</th>
										</tr>
										</thead>
										<tbody>
										<div th:each="m,sta:${MovieType.get('恐怖')}">
											<tr>
												<td th:text="${sta.index+1}">1</td>
												<td class="w3-list-img"><a th:href="@{single(uid=${m.getNum()})}"><img th:src="${m.getImg()}" alt="" /> <span th:text="${m.getName()}">Swiss Army Man</span></a></td>
												<td th:text="${m.getYear()}">2016</td>
												<td class="w3-list-info"><a href="genre.html" th:text="${m.getLanguage()}">United Kingdom</a></td>
												<td class="w3-list-info"><a href="comedy.html" th:text="${m.getType()}"> Drama</a></td>
												<td th:text="${m.getScore()}">7.0</td>
											</tr>
										</div>
										</tbody>
									</table>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="f" aria-labelledby="f-tab">
								<div class="agile-news-table">
									<div class="w3ls-news-result">
										<h4>影片数目: <span th:text="${MovieType.get('灾难').size()}">25</span></h4>
									</div>
									<table id="table-breakpoint6">
										<thead>
										<tr>
											<th>No.</th>
											<th>Movie Name</th>
											<th>年份</th>
											<th>语种</th>
											<th>类型</th>
											<th>评分</th>
										</tr>
										</thead>
										<tbody>
										<div th:each="m,sta:${MovieType.get('灾难')}">
											<tr>
												<td th:text="${sta.index+1}">1</td>
												<td class="w3-list-img"><a th:href="@{single(uid=${m.getNum()})}"><img th:src="${m.getImg()}" alt="" /> <span th:text="${m.getName()}">Swiss Army Man</span></a></td>
												<td th:text="${m.getYear()}">2016</td>
												<td class="w3-list-info"><a href="genre.html" th:text="${m.getLanguage()}">United Kingdom</a></td>
												<td class="w3-list-info"><a href="comedy.html" th:text="${m.getType()}"> Drama</a></td>
												<td th:text="${m.getScore()}">7.0</td>
											</tr>
										</div>
										</tbody>

									</table>
								</div>
							</div>
						</div>
				</div>
			</div>
			<!--//content-inner-section-->


	<!--/footer-bottom-->
					<div class="contact-w3ls" id="contact">
						<div class="footer-w3lagile-inner">
							<h2>该网站只用于学习交流，不用于任何商业用途</h2>
							<div class="clearfix"> </div>
						</div>
					</div>

<script src="js/jquery-1.11.1.min.js"></script>
	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->
		<!-- search-jQuery -->
				<script src="js/main.js"></script>
			
			<script src="js/simplePlayer.js"></script>
			<script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
			</script>
			<script>
				$("document").ready(function() {
					$("#video1").simplePlayer();
				});
			</script>
			<script>
				$("document").ready(function() {
					$("#video2").simplePlayer();
				});
			</script>
				<script>
				$("document").ready(function() {
					$("#video3").simplePlayer();
				});
			</script>
			<script>
				$("document").ready(function() {
					$("#video4").simplePlayer();
				});
			</script>
			<script>
				$("document").ready(function() {
					$("#video5").simplePlayer();
				});
			</script>
			<script>
				$("document").ready(function() {
					$("#video6").simplePlayer();
				});
			</script>

			<!-- pop-up-box -->  
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!--//pop-up-box -->

			<div id="small-dialog1" class="mfp-hide">
	<iframe src=""></iframe>
	</div>
	<div id="small-dialog2" class="mfp-hide">
		<iframe src=""></iframe>
	</div>
	<script>
		$(document).ready(function() {
		$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});
																		
		});
	</script>
<script src="js/easy-responsive-tabs.js"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!-- tables -->
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>

 <script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });
	   $('#table-breakpoint1').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint2').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint3').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint4').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint5').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint6').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint7').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint8').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint9').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint10').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint11').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint12').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint13').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint14').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint15').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint16').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint17').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint18').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint19').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint20').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint21').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint22').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint23').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint24').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint25').basictable({
        breakpoint: 768
      });
	  $('#table-breakpoint26').basictable({
        breakpoint: 768
      });
    });
  </script>
<!-- //tables -->


<!--/script-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
<!--end-smooth-scrolling-->
	<script src="js/bootstrap.js"></script>

<script>
	$(function () {
		$("#btn_1").click(function () {
			$.ajax({
						url:"enroll_login",
						contentType:"application/x-www-form-urlencoded",
						dataType:"json",
						type:"post",
						data:$("#from_Login").serialize(),
						success:function (data) {
							alert(data.state);
							if(data.state=="400"){
								window.parent.location.reload();
							}
							//window.parent.location.reload();
							/*if(data.state=="100"){
                                alert("查无此人");
                            }else if(data.state=="150"){
                                alert("密码错误");
                            }else{
                                if (data.decision=="manager")
                                    window.location.href ="manager_/main?uid="+data.uid;
                                else
                                    window.location.href ="person/main?uid="+data.uid;
                            }*/
						},
						error:function () {
							alert("error");
							alert($("#from_Login").serialize());
							// window.location.href('enroll/person_main');//localhost:8080/WEB-INF/pages/person_main.jsp
						}
					}

			);
		});
	});

</script>
					<script>
						$(function () {
							$("#btn_2").click(function () {
								$.ajax({
											url:"register_Login",
											contentType:"application/x-www-form-urlencoded",
											dataType:"json",
											type:"post",
											data:$('#from_re').serialize(),
											success:function (data) {
												if (data.state!=400)
													alert(data.state);
												else alert("成功");
												if (data.state=="400")
													window.parent.location.reload();
											},
											error:function () {
												alert("error");
												alert($("#from_re").serialize());
												// window.location.href('enroll/person_main');//localhost:8080/WEB-INF/pages/person_main.jsp
											}
										}
								);
							});
						});
					</script>
					<script>
						$(function () {
							$("#email_send_btn").click(function () {
								alert("点击确定后,请等待");
								$.ajax({
											url:"email/send",
											contentType:"application/x-www-form-urlencoded",
											dataType:"json",
											type:"post",
											data: {
												email_send:$("#email_send").val()
											},
											success:function (data) {
												alert(data.state);

											},
											error:function () {
												alert("error");
											}
										}
								);
							});
						});
					</script>
</body>
</html>